### Impott lib

In [34]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

### lOAD DATASET and explpr

In [35]:
df = pd.read_csv("weight-height.csv")

In [36]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [37]:
df.shape

(10000, 3)

In [38]:
df.dtypes

Gender     object
Height    float64
Weight    float64
dtype: object

In [39]:
df.count()

Gender    10000
Height    10000
Weight    10000
dtype: int64

### Missing Value

In [40]:
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

### Scaling and labeling

In [41]:
X = df.iloc[:, :-1].values
y = df.iloc[:, 2].values

In [53]:
from sklearn.preprocessing import LabelEncoder
std_scaler = StandardScaler()
labelEncoder_gender =  LabelEncoder()
X[:,0] = labelEncoder_gender.fit_transform(X[:,0])

import numpy as np
X = np.vstack(X[:, :]).astype(np.float)

### rubah value jenis kelamin

In [43]:
df['Gender'].replace('Female',0, inplace=True)
df['Gender'].replace('Male',1, inplace=True)
X = df.iloc[:, :-1].values
y = df.iloc[:, 2].values

### Split & train dataset

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### Masukan Model

In [49]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
model = lin_reg.fit(X_train, y_train)

In [50]:
accuracy = model.score(X_test, y_test)

In [51]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 90.00662186334888%

### Menyimpan Model dan scalar

In [54]:
joblib.dump((model, std_scaler), "hegiht-weight-prediction-LR.pkl")

['hegiht-weight-prediction-LR.pkl']